.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 75px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
font-size:14px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 500px;
border: 2px solid #1c72aa;
border-radius:10px;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.c_text input {
	width:235px;
}

#navi {
	width: 735px;
	margin:auto;
}

@media only screen and (max-width: 818px) {
#navi {
	width: 635px;
}
}

#toggle_text
{
	display:none;
	width: 100%;
	position:absolute;
    margin: auto;
    margin-top: -160px;
	
}

#wrapper{
	width: 500px;
    margin: auto;
}

@media only screen and (max-width: 818px) {
#wrapper {
    width: 400px;
}
}

#char-name {
position: absolute;
    /* bottom: 0; */
    /* margin-bottom: 129px; */
    z-index: 101;
    margin-top: -20px;
}

#textbox {
	height: 100%;
	width: 100%;
	position: relative;
    margin: auto;
    position: relative;
    overflow-wrap: break-word;
}

/* LEFT ARROW */

.left {
    /* position: relative; */
    margin-top: 10px;
    z-index: 100;
    /* margin-bottom: 18px; */
    width: 100px;
    height: 100px;
    /* display: inline-block; */
    float: left;
}

/* RIGHT ARROW */

.right {
	/* position: relative; */
	margin-top: 10px;
    z-index: 100;
    /* margin-bottom: 18px; */
    width: 100px;
    height: 100px;
    display: inline-block;
    float: right;
}

.arrows {
	position: absolute;
	width: 100px;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.arrows:hover {
	width: 105px;
}


#arrowbox {
    width: 500px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    background: #ffffff;
    opacity: 0.9;
    border: 4px solid #f0f0f0;
    /* bottom: 20px; */
    /* margin-left: 27%; */
    /* margin-right: 25%; */
    /* position: absolute; */
    z-index: 100;
    margin: auto;
}



.arrowtips:after {
	margin-left: 513px;
	/*right: 310px;*/
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(245, 245, 245, 0);
	border-left-color: #f0f0f0;
	border-top-width: 25px;
	border-right-width: 15px;
	border-bottom-width: 25px;
	border-left-width: 15px;
	margin-top: -25px;
}

.arrowtips:before {
	margin-left: -43px;
	/*left: 310px;*/
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(245, 245, 245, 0);
	border-right-color: #f0f0f0;
	border-top-width: 25px;
	border-right-width: 15px;
	border-bottom-width: 25px;
	border-left-width: 15px;
	margin-top: -25px;
}

@media only screen and (max-width: 818px) {
#arrowbox {
    width: 400px;
}

.arrowtips:after{
	margin-left: 413px;
}
}

#speaker {
    font-size: 14px;
    color: white;
    text-align: center;
    /* vertical-align: top; */
    font-weight: bold;
    margin-top: -5px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.dialogue {
	padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    font-weight: bold;
	color:black;
    font-size: 16px;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}


.bubble {
    position: relative;
    width: 135px;
    padding: 5px;
    background: #2ba3e2;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    height: 20px;
    border: #ffffff solid 3px;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 12px 9px 0;
	border-color: #2ba3e2 transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -12px;
	left: 20px;
}

.bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 14px 10px 0;
	border-color: #ffffff transparent;
	display: block;
	width: 0;
	z-index: 0;
	bottom: -17px;
	left: 20px;
}

#star {
position: absolute;
    z-index: 100;
    bottom: 0;
    /* margin-bottom: 39px; */
	margin-left: 465px;
    /* margin-top: -40px; */
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    animation: MoveUpDown .75s linear infinite;
}

@media only screen and (max-width: 818px) {
#star {
   margin-left: 370px;
}
}
@keyframes MoveUpDown {
	0%,
	100% {
		margin-bottom: 10px;
	}
	50% {
		margin-bottom: 15px;
	}
}

#star img {
	width: 30px;
}
